<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <title>Trabalho</title>
</head>

<body>
   <html>Trabalho
   <table border="1">
      <thead>
         <tr>
            <th>id</th>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>URL</th>
            <th>Area de Conhecimento</th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="trabalho: ${trabalhos}" th:object=${trabalho}>
            <td th:text=*{id}></td>
            <td th:text=*{Titulo}></td>
            <td th:text=*{descricaoTextual}></td>
            <td th:text=*{url}></td>
            <td> <label>Area de Conhecimento: <select name="areaDeConhecimento">
                     <option th:each="opcao: ${opcoes}" th:object="${opcao}" th:text="*{key+': '+value}"
                         disabled></option>
                  </select></label>
            </td>
            <form th:action="@{excluir-trabalhos.html(id=${param.id},idTrab=*{id})}" method="POST">
               <td><input type="submit" name="btnExcluir" value="Excluir"/></td>
            </form>

            <form th:action="@{avaliar-trabalhos.html(id=${param.id},idTrab=*{id})}" method="POST">
               <td><input type="submit" name="btnAvaliar" value="Avaliar"/></td>
            </form>
         </tr>
      </tbody>
   </table>
   <form th:action="@{trabalho-form.html(id=${param.id})}" th:object="${novoTrabalho}" method="POST">
      <label><input type="text" th:field="*{titulo}" /></label>
      <strong th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></strong>
      <label><input type="text" th:field="*{descricaoTextual}"/></label>
      <strong th:if="${#fields.hasErrors('descricaoTextual')}" th:errors="*{descricaoTextual}"></strong>
      <label><input type="text" th:field="*{url}"/></label>
      <strong th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></strong>
    
      <td> <label>Area de Conhecimento: <select name="areaDeConhecimento">
         <option th:each="opcao: ${opcoes}" th:object="${opcao}" th:text="*{key+': '+value}" th:selected="${novoTrabalho.getAreaConhecimento().getTitulo()==opcao.key}"></option>
         </select></label>
      </td>

      <input type="submit"/>
</form>
</body>

</html>